*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.fa-bars{
    display: none;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    display: inline-flex;
}
li{
    list-style: none;
}
.link{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2em;
    bottom: 7em;
    z-index: 1;
    background-color: green;
    border-radius: 50%;
    color: rgb(189, 248, 248);
    scale: 1.3;
    padding: 0.5em;
}

#nav{
    z-index: 100;
    display: flex;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border-radius: 99px;
    margin: auto auto;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    justify-self: center;
    width: 50%;
    left: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#nav.hidden {
    transform: translateY(-100%);
  }

.img{
    width: 4em;
}

.main-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lia{
    margin-right: 1.4em;
    color: teal;
    font-weight: bolder;
    
}
.main-menu li a:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}
.side-menu{
    display: none;
}
header{
    background: linear-gradient(90deg, rgb(3, 3, 248) 4%, orange 40%, teal );
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50vh;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 9px;
    order: 1;
    flex-wrap: nowrap;
    margin: 7em 0;
}
.heading h1{
    font-size: 2em;
    gap: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.heading i{
    font-weight: 300;
}

.cta1 a{
    display: inline-flex;
    text-transform: capitalize;
    margin: 1em;
    padding: 0.6em 1em;
    background-color: rgb(1, 39, 39);;
    border-radius: 9px;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    color: whitesmoke;
    border-color: transparent;
    transition: ease-out 1s;
}
.cta1 a:nth-child(2){
   background-color: transparent; 
   border: 2px solid rgb(1, 39, 39);;
   color: rgb(1, 39, 39);;
}

.cta1 a:hover{
    background-color: #333;
    color: whitesmoke;
}
.cta1{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.about-us {
    background: linear-gradient(25deg, rgb(143, 143, 235), rgb(194, 138, 34) 40% );
    padding: 4em 2em;
    text-align: center;
}



.about-us p {
    font-size: 1.2em;
    line-height: 1.6;
    color: rgb(1, 39, 39);
    max-width: 800px;
    margin: 0 auto;
}

.services{
    background: linear-gradient(90deg, rgb(3, 3, 248) 4%, orange 40%, teal );;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    position: relative;
}
.wrapper{
    width: 95%;
    height: 60vh;
    box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.7);
    margin: auto auto;
}
.wrapper-holder{
    display: grid;
    grid-template-columns: repeat(4, 100%);
    width: 100%;
    height: 100%;
    z-index: 2;
    animation: slider 30s ease-in-out infinite alternate;
}
#slider-img-1{
    background-image: url('motionsphere4.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    text-align: center;
    color: rgb(1, 39, 39);
    font-size: 1.6em;
    font-weight: 900;
    margin-right: 1em;
}
#slider-img-2{
    background-image: url('motionsphere5.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: rgb(1, 39, 39);
    font-size: 1.6em;
    font-weight: 900;
    max-width: 100%;
    margin-right: 1em;
}
#slider-img-3{
    background-image: url('motionsphere7.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: rgb(1, 39, 39);
    font-size: 1.6em;
    font-weight: 900;
    max-width: 100%;
    margin-right: 1em;
}
#slider-img-4{
    background-image: url('motionsphere2.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 1em;
    text-align: center;
    text-justify: distribute-all-lines;
    color: rgb(1, 39, 39);
    font-size: 1.6em;
    font-weight: 900;
    max-width: 100%;
}
.button-holder{
    position: absolute;
    left: 45%;
    bottom: 0%;
}
.button{
    background-color: white;
    color: teal;
    padding: 0.5em 1em;
    border-radius: 9px;
    text-align: center;
    display: inline-block;
}
.button:hover{
    box-shadow: 0px 0px 7px 4px rgba(72, 102, 236, 0.6);
}


h2{
    text-transform: capitalize;
    text-decoration: underline;
    margin: 0 0.6em;
    padding-bottom: 1em;
    text-wrap: nowrap;
    color: teal;
}

.services ul li{
    
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    
}
.services ul li:nth-child(5){
    list-style: none;
    font-style: italic;
}
.cta{
    background-color: rgb(3, 3, 248);
    padding: 0.7em 1.4em;
    border-radius: 9px;
    border-color: teal;
    color: whitesmoke;
    border: solid;
    text-transform: uppercase;
    text-decoration: solid;
    display: flex;
    justify-content: center;
    place-self: center;
    cursor: pointer;
    margin: 1em;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100vh;
    margin: 1em;
    list-style: none;
    justify-items: center;
    align-items: center;
}


.social{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.social .diva{
    color: rgb(254, 255, 255);
    margin: 0 0.4em;
    padding: 1em;
    background-color: rgb(211, 158, 59);
    border-radius: 5px;
}

.social h5{
    text-decoration: underline;
    color: #222;
}
footer{
    background: linear-gradient(1deg, rgb(194, 138, 38) 30%, rgb(255, 253, 240));
    font-weight: bolder;
    text-wrap: wrap;
    font-size: medium;
    padding: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-form {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 80%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    overflow: scroll;
}

.booking-form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.booking-form input, textarea, select {
    width: 70%;
    padding: 0.5em;

    border: 1px solid #ccc;
    border-radius: 5px;
}
.booking-form button[type="submit"] {
    width: 100%;
    padding: 0.5em;
    background-color: rgb(1, 39, 39);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0.2em;
}

.booking-form button[type="submit"]:hover {
    background-color: #333;
}
.i-h2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animate{
    opacity: 1;
    transition: all 1s;
    
}
.show{
    opacity: 0;
    filter: blur(0);
    transform: translateX(0);
}

@keyframes slider{
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-300%);}
    60%{transform: translateX(-200%);}
    70%{transform: translateX(-200%);}
    80%{transform: translateX(-100%);}
    90%{transform: translateX(-100%);}
    100%{transform: translateX(0%);}
}


@media  only screen and (min-width: 992px) {
    header{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        min-height: 50vh;
        max-width: 100%;
        overflow-x: hidden;
        align-items: center;
    }

}



@media only screen and (max-width: 768px){

header{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    min-height: 50vh;
    width: 100vw;
    overflow-x: hidden;
}
.container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}


.booking-form{
    width: 100%;
    border-radius: 0;
}
.main-menu{
    display: none;
}
.side-menu{
    display: none;
    flex-direction: column;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.lia{
    margin-right: 1.4em;
    color: teal;
    font-weight: bolder;
    margin: 1em;
    
}
.lia:hover{
    text-decoration: underline;
    color: #333;
    cursor: pointer;
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(20deg, aliceblue, rgb(206, 145, 31) );
    padding: 20px;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1);
  }
.sidebar .social{
    display: flex;
    flex-direction: row;
    
  }
.social .diva{
    color: rgb(254, 255, 255);
    margin: 0 .2em;
    padding: auto;
    width: 10%;
    justify-content: center;
    
}
.fa-bars{
    display: flex;
    color: teal;
}
.fa-bars:hover{
    cursor: pointer;
}


}
